.search__form{
    display:flex;
    flex-direction: column;

    margin-bottom: 10px;
    display:flex;
    position:relative;

    align-items:center;
    button{
        all:unset;
    }
    button{
        border: 1px solid rgba(255,255,255,0.7);
        position:absolute;
        right:15px;
        font-size: 18px;
        background-color: rgba(0,0,0,0.2);
        text-align: center;

    }
}