doctype html
html(lang="en")
    head 
        title #{pageTitle} | ClimbTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")


    body
        block content
        input(placeholder="what's your name?")
    include partials/footer.pug