extends layout 
include mixins/video

block customContent 
    h2 welcome here you will see the trending videos.

    div.video-grid
        each video in videos 
            +video(video)
        else 
            span.empty__message No videos found
