html(DOCTYPE="html")
    head 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
        title #{pageTitle} | climbingTube
    body 
        header
            h1 this is layout

        block customContent

    include partials/footer.pug
