html(DOCTYPE="html")
    head 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
        title #{pageTitle} | #{locals.siteTitle}
    body 
        include partials/header

        main
            block customContent
        include partials/footer.pug
    script(src="/static/js/main.js")
    block scripts 

