header
    a(href="/").header__logo
        i.fab.fa-youtube
    h1=pageTitle
    nav 
        ul 
            li 
                a(href="/search")
                    i.fab.fa-search
            if loggedIn 
                li
                    a(href="/users/logout") Log Out
                //- li
                //-     a(href=`/users/${loggedInUser._id}`) My Profile 
                //- li 
                //-     a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}'s Profile
                li 
                    a(href="/videos/upload") Upload Video
            else
                li 
                    a(href="/login") Login
                li 
                    a(href="/join").header__btn Join

