extends ../layout
include ../mixins/video

block customContent 
    div.profile__data
        if user.avatarUrl
            img(src="/"+user.avatarUrl).avatar  
        else
            div.avatar
        h3=user.name
    div.video-grid
        each video in user.videos 
            +video(video)
        else 
            span.empty__message No videos found
